<div ng-app="petShop">

  <div ng-controller="DogsController"
       class="dogs">

    <div class="loading"
         ng-if="loading">
    </div>

    <div class="error"
         ng-if="!loading && hasError">
      Ocorreu algum problema na aplicação. Favor recarregá-la.
    </div>

    <div ng-if="!loading && !hasError">
      <h1>Cães</h1>

      <div class="content">
        <div class="filters">
          <div class="form-group name">
            <label>Nome ou nome do proprietário</label>
            <input type="text"
                   ng-model="filters.query"
                   class="form-control">
          </div>

          <div class="form-group genre">
            <label>Gênero</label>
            <select ng-model="filters.genre">
              <option value="all">Todos</option>
              <option value="male">Macho</option>
              <option value="female">Fêmea</option>
            </select>
          </div>

          <div class="form-group castrated">
            <label>Castrado</label>
            <select ng-model="filters.castrated">
              <option value="all">Todos</option>
              <option value="yes">Sim</option>
              <option value="no">Não</option>
            </select>
          </div>

          <div class="form-group breed">
            <label>Raça</label>
            <select ng-model="filters.breed">
              <option value="all">Todas</option>
              <option ng-repeat="breed in breeds" ng-value="breed">{{ breed }}</option>
            </select>
          </div>

          <div class="buttons">
            <button type="button"
                    class="btn btn-primary"
                    ng-click="searchDogs()">
              Pesquisar
            </button>

            <button type="button"
                    class="btn btn-default"
                    ng-click="clearFilters()">
              Limpar
            </button>
          </div>
        </div>

        <div class="table">
          <div class="row header">
            <div class="column name">Nome</div>
            <div class="column owner">Proprietário</div>
            <div class="column breed">Raça</div>
            <div class="column genre">Gênero</div>
            <div class="column castrated">Castrado</div>
            <div class="column birth">Data de Nascimento</div>
            <div class="column last_visit">Última Consulta</div>
          </div>

          <div class="row"
               ng-repeat="dog in dogs">
            <div class="column name">
              <span class="label">Nome:</span>{{ dog.name }}
            </div>
            <div class="column owner">
              <span class="label">Propietário:</span>{{ dog.owner_name }} - {{ dog.owner_phone }}
            </div>
            <div class="column breed">
              <span class="label">Raça:</span>{{ dog.breed }}
            </div>
            <div class="column genre">
              <span class="label">Gênero:</span>{{ dog.genre === 'male' ? 'Macho' : 'Fêmea' }}
            </div>
            <div class="column castrated">
              <span class="label">Castrado:</span>{{ dog.castrated ? 'Sim' : 'Não' }}
            </div>
            <div class="column birth">
              <span class="label">Data de Nascimento:</span>{{ dog.birth }}
            </div>
            <div class="column last_visit">
              <span class="label">Última Consulta:</span>{{ dog.last_visit }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


