body  {
  background: #CCCCFF;
  width: 100%;
  height: 100%;
  padding: 15px;
  min-width: 320px;
  color: #424242;
}

.loading {
  border: 16px solid #F3F3F3;
  border-top: 16px solid #3498DB;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 25% auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}

.content {
  background: #FFFFFF;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 10px;
}